.main {
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0.5))), url("../src/images/back.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url("../src/images/back.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: white;
  position: relative;
}

.content > p {
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  padding-left: 20px;
  margin-top: 10%;
  letter-spacing: 2px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: orange;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.content .cn a {
  text-decoration: none;
  color: black;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.content .cn:hover {
  color: black;
  background: white;
}

.content span {
  color: orange;
  font-size: 60px;
}

.form {
  width: 250px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
  position: absolute;
  top: -100px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}

.form h2 {
  width: 200px;
  text-align: center;
  color: black;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.7);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 200px;
  height: 35px;
  background: transparent;
  border: none;
  border-bottom: 1px solid orange;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
  caret-color: orange;
}

.form input::-webkit-input-placeholder {
  color: white;
  font-family: Arial;
}

.form input:-ms-input-placeholder {
  color: white;
  font-family: Arial;
}

.form input::-ms-input-placeholder {
  color: white;
  font-family: Arial;
}

.form input::placeholder {
  color: white;
  font-family: Arial;
}

.form button {
  width: 200px;
  height: 40px;
  background: orange;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.form button:hover {
  background: white;
  color: orange;
}

.form button:focus {
  background: white;
  color: orange;
}

.form button > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a {
  text-decoration: none;
  color: orange;
}

.liwith {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.form .icons a {
  color: white;
  text-decoration: none;
}

.form .icons i {
  color: white;
  font-size: 25px;
  padding-left: 12px;
  padding-top: 5px;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.form .icons i:hover {
  color: orange;
}

/* -------------- Products -------------- */
.products {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* -------------- each product -------------- */
.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ddd;
  min-height: 120px;
  position: relative;
}

.product-item img {
  width: 100%;
  min-height: 150px;
}

.product-item .desc a {
  display: block;
  font-size: 20px;
  text-align: center;
  color: #000;
  cursor: pointer;
}

.product-item .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.product-item .actions .add-to-cart {
  color: #ffa500;
  background-color: #174f8f;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  margin-right: 10px;
}

.product-item .actions .favorite {
  cursor: pointer;
  font-size: 20px;
  display: block;
}

.edit-product,
.delete-product {
  width: 80px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 5px;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.edit-product {
  background: #174f8f;
  color: #fff;
}

.edit-product:hover {
  color: #174f8f;
  background: #fff;
}

.delete-product {
  background: #ffa500;
  color: #174f8f;
}

.delete-product:hover {
  background: #174f8f;
  color: #ffa500;
}

.create-product-page input,
.create-product-page select {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 10px 0;
  display: block;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 18px;
}

.create-product-page input[type="submit"] {
  background: #333;
  color: #fff;
  cursor: pointer;
}

.create-product-page input[type="submit"]:hover {
  opacity: 0.8;
}

.item-details img {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #333;
  padding: 2px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Medium */
@media (max-width: 991px) {
  .container {
    width: 100%;
    overflow: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .search {
    display: none;
  }
  header nav .logo {
    font-size: 25px;
  }
  header nav ul li a {
    font-size: 12px;
  }
  header nav ul li i.fa-solid {
    display: none;
  }
  .products {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/* small */
@media (max-width: 767px) {
  .products {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  header nav .logo {
    font-size: 20px;
  }
}

.profile-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-page .container #user-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 10px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.profile-page .container #user-name {
  font-size: 30px;
  font-weight: bold;
}

.profile-page .container #user-email {
  font-size: 30px;
  font-weight: 300;
}

.profile-page .container span {
  color: #ffa500;
  background-color: #0d1e4f;
  border-radius: 50%;
  padding: 1px 5px;
}

.profile-page .container a {
  margin-top: 10px;
  background: #ffa500;
  color: #174f8f;
  padding: 5px 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.profile-page .container a:hover {
  color: #ffa500;
  background: #174f8f;
}

/* ------ Profile ------ */
/* ------ Edit profile ------ */
form input {
  width: 100%;
  height: 40px;
  display: block;
  margin: 10px 0;
}

form input[type="submit"] {
  outline: none;
  border: none;
  margin-top: 10px;
  background: #ffa500;
  color: #174f8f;
  padding: 5px 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

form input[type="submit"]:hover, form input[type="submit"]:focus {
  color: #ffa500;
  background: #174f8f;
}

[dir="rtl"] .products {
  float: right;
}

[dir="rtl"] .products-filter {
  float: left;
}

[dir="rtl"] .product-item .actions {
  left: -120px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  font-family: "Oswald", sans-serif;
}

.container {
  width: 80%;
  max-width: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

/* ---------- search ---------- */
.search {
  font-family: "Oswald", sans-serif;
  min-width: 200px;
  height: 35px;
  background: white;
  border: 1px solid orange;
  font-size: 16px;
  padding: 10px;
  color: black;
  border-radius: 5px;
  caret-color: orange;
}

/* ---------- header ---------- */
header {
  background-color: #0d1e4f;
}

nav {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  color: #ffa500;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  position: relative;
  margin-left: 25px;
}

nav ul li a {
  font-size: 16px;
  color: #f3f3f3;
  font-family: Arial;
  font-weight: bold;
  -webkit-transition: 500ms;
  transition: 500ms;
}

nav ul li a:hover,
nav ul li a:hover + i {
  color: #ffa500;
}

nav ul li i {
  color: #f3f3f3;
  margin-left: 5px;
}

/* Filters */
.products-filter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 0;
}

.products-filter .size-filter {
  width: 100%;
  height: 40px;
  cursor: pointer;
}

/* Create Product icon */
.create-product-icon {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #0d1e4f;
  color: #ffa500;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
  cursor: pointer;
}

.create-product-icon:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* -------------- cart Products + badge -------------- */
nav ul li .badge {
  width: 15px;
  height: 15px;
  background-color: red;
  color: #fff;
  text-align: center;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: -5px;
  right: 20px;
  font-size: 12px;
  line-height: 15px;
  display: none;
}

.cart-products {
  position: absolute;
  width: 200px;
  left: 50%;
  top: 50px;
  padding: 10px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #eaeaea;
  border: 1px solid #174f8f;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.cart-products .all-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
}

.cart-products .all-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-products .all-items .item img {
  width: 40px;
  height: 40px;
  margin-bottom: 3px;
}

.cart-products .all-items .item .item-qty {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #0d1e4f;
  color: #ffa500;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
}

.cart-products a {
  display: block;
  background-color: #0d1e4f;
  color: #ffa500;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.cart-products a:focus {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cart-products a:hover {
  background-color: #ffa500;
  color: #0d1e4f;
}
/*# sourceMappingURL=style.css.map */